<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533341155589-i00gc2g29d9bs5ff92b4n323csrq1t23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533341155589-i00gc2g29d9bs5ff92b4n323csrq1t23</string>
	<key>API_KEY</key>
	<string>AIzaSyDFq4Sht3G2gUTeoT8X3gwdvkb4Dlr-_bc</string>
	<key>GCM_SENDER_ID</key>
	<string>533341155589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.tinode.tinodios</string>
	<key>PROJECT_ID</key>
	<string>pronountrainer-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>pronountrainer-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533341155589:ios:b122022ce904244562c76c</string>
</dict>
</plist>